
<div class = "container-fluid">
    <ul class = "col-lg-12 contact-form ">
      <h2 class = "contact"> Contact HathawayHomes-MA </h2>
      <div class = <"message_form">
        <%= bootstrap_form_with(model: @messages, local: true) do |f| %>
        <%= notice %>
          <%= @message.errors.full_messages.join(', ') %>
           <li><%= f.text_field :name, placeholder: 'Name' %></li>
            <li><%= f.email_field :email, placeholder: 'Email' %></li>
            <li><%= f.text_field :phone_number, placeholder: 'Phone Number' %></li>
            <li><%= f.text_area(:body, cols: 80, rows: 10, class: 'message_body', placeholder: "If you are interested in buying or selling a listing reach out to me today")%></li>
            <li><%= f.submit 'Send', id: "message_button" %></li>
      <% end %>
    </div>
    </ul>
  </div>
