 <div class= "new_form">
<h2 class = 'registration_title'> Registration Page</h2>
<div class = "sign_up container-fluid">

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <ul class = "col-lg-6 new_reg">
  <li class = "new_registration_input"><%= f.input :first_name, label: 'First Name' , required: true, autofocus: true %></li>
    <li class = "new_registration_input"><%= f.input :last_name, label: 'Last Name ', required: true %></li>
    <li class = "new_registration_input"><%= f.input :phone_number, label: 'Phone Number ', required: true %></li>
    <li class = "new_registration_input"><%= f.input :email, label: 'Email ', required: true, autofocus: true %></li>
    <li class = "new_registration_input"><%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %></li>
    <li class = "new_registration_input"><%= f.input :password_confirmation, label: "password confirmation ", required: true %></li>

    <li class = "new_registration_input"><%= f.button :submit, "Sign up" %></li>
</ul>
<% end %>

<!-- <%= render "devise/shared/links" %> -->
