  <ul class= "listing_info">
    <% @listings.each do |listing| %>
    <li>House Style: <%= listing.house_style  %></li>
    <li>Street Address: <%= listing.street_address%></li>
    <li>Town: <%= listing.town%> </li>
    <li>State: <%= listing.state%></li>
    <li>Zipcode: <%= listing.zipcode%></li>
    <%= link_to 'Show', listing %>
  </ul>
  <% end %>
