
<div class = "background_image">

  <div class = "simple_search container-fluid">
    <div class = "col-lg-6 col-sm-12">
       <%= form_tag(listings_path, :method => "get", id: "search_form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Please enter a House Style, Address, State, or Town" %>
        <%= submit_tag "Search", :name => nil, id: 'search_button' %>
      <% end %>
    </div>
  </div>

</div>


  <div class="about_section container-fluid">
    <div class = "col-lg-6 col-sm-12 about_me">
        Whether you are thinking about buying or selling, you're going to want to choose a Realtor who will work diligently in your best interest.
        My mission is to do exactly that. Please reach out to me today for a free comparitive market analysis or if you are looking to buy a home I am ready to help    </div>

        <%=image_tag("dave2.JPG", alt: "Example Image", id: 'dave_1')%>
        </div>


<%= render "listings/listing" %>
