  <ul class= "listing_info">
    <% @listings.each do |listing| %>
    <li>House Style: <%= listing.house_style %></li>
    <li>Street Address: <%= listing.street_address%></li>
    <li>Town: <%= listing.town%> </li>
    <li>State: <%= listing.state%></li>
    <li>Zipcode: <%= listing.zipcode%></li>
    <li> Description: <%= listing.description%> </li>
    <li><% listing.listing_photo.each do |photo| %>
    <%= image_tag(photo.url) %>
    <% end %>


    <%= link_to 'More Information', listing %>
  <% end %>
  </ul>
