
<div class= "new_listing_form">
  <%= form_for @listing do |f| %>
  <ul>
    <li> <%= f.label :house_style,'House Style: '%><%= f.select :house_style, ['CapeCod', 'Country French', 'Colonial', 'Victorian', 'Tudor', 'Craftsman', 'Cottage', 'Mediterranean', 'Ranch', 'Contemporary', 'Other']%></li>
    <li> <%= f.label :street_address,'Street Address: ' %>  <%= f.text_field :street_address %></li>
    <li><%= f.label :state, "State: " %>  <%= f.text_field :state %></li>
    <li><%= f.label :town, "Town: " %> <%= f.text_field :town %></li>
    <li><%= f.label  :zipcode, "Zipcode: " %>  <%= f.text_field :zipcode %></li>
    <li><%= f.label :number_of_bathrooms, "Number of Bathrooms: " %>  <%= f.text_field :number_of_bathrooms %></li>
    <li><%= f.label :number_of_bedrooms, "Number of Bedrooms: " %>  <%= f.text_field :number_of_bedrooms %></li>
    <li><%= f.label :number_of_acres, "Number of Acres: " %>  <%= f.text_field :number_of_acres %></li>
    <li><%= f.label :asking_price, "Asking Price: " %>  <%= f.text_field :asking_price %></li>
    <li><%= f.label :description, "Description: " %> <%= f.text_field :description%></li>
    <li><%= f.label :listing_photo, "Listing Photo: " %><%= f.file_field :listing_photo, multiple: true %></li>
    <li><%= f.hidden_field :user_id, value: current_user.id %></li>
  </ul>

    <%= f.submit "Create" %>
  <% end %>
</div>
