
<div class= "new_listing_form">
  <%= form_for @listing do |f| %>
    <%= f.label :house_style,'House Style' %><%= f.text_field :house_style %>
    <%= f.label :street_address,'Street Address' %>  <%= f.text_field :street_address %>
    <%= f.label :state, "State" %>  <%= f.text_field :state %>
    <%= f.label :zipcode, "Zipcode" %>  <%= f.text_field :zipcode %>
    <%= f.label :number_of_bathrooms, "Number of Bathrooms" %>  <%= f.text_field :number_of_bathrooms %>
    <%= f.label :number_of_bedrooms, "Number of Bedrooms" %>  <%= f.text_field :number_of_bedrooms %>
    <%= f.label :number_of_acres, "Number of Acres" %>  <%= f.text_field :number_of_acres %>
    <%= f.label :asking_price, "Asking Price" %>  <%= f.text_field :asking_price %>
    <%= f.label :listing_photo, "Listing Photo" %><%= f.file_field :listing_photo %>


    <%= f.submit "Create" %>
  <% end %>
</div>
