  <ul class= "listing_info">
    <li>House Style: <%= @listing.house_style  %></li>
    <li>Street Address: <%= @listing.street_address%></li>
    <li>Town: <%= @listing.town%> </li>
    <li>State: <%= @listing.state%></li>
    <li>Zipcode: <%= @listing.zipcode%></li>
    <li>Number of Acres: <%= @listing.number_of_acres%></li>
    <li>Number of Bathrooms: <%= @listing.number_of_bathrooms%></li>
    <li>Number of Bedrooms: <%= @listing.number_of_bedrooms%></li>
    <li>Asking Price: $<%= @listing.asking_price%></li>
    <li><%= image_tag @listing.listing_photo_url(:thumb)%></li>
  </ul>

<% binding.pry %>
  <iframe
    width="600"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCETOh7Po4OZrJn86i3bkINY1pOuDcOijM
      &q=<%=@listing.street_address %>,<%=@listing.town%>,<%=@listing.state%>" allowfullscreen>
  </iframe>
