<% if user_signed_in? %>
<div class = "container">
  <div class = "row">
    <ul class = "col-lg-6">
      <li>House Style: <%= @mylisting.house_style  %></li>
      <li>Street Address: <%= @mylisting.street_address%></li>
      <li>Town: <%= @mylisting.town%> </li>
      <li>State: <%= @mylisting.state%></li>
      <li>Zipcode: <%= @mylisting.zipcode%></li>
      <li>Square Footage: <%= @mylisting.square_footage%></li>
      <li>Number of Bathrooms: <%= @mylisting.number_of_bathrooms%></li>
      <li>Number of Bedrooms: <%= @mylisting.number_of_bedrooms%></li>
      <li>Asking Price: $<%= @mylisting.asking_price%></li>
      <li class = 'listing_description'>Description: <%= @mylisting.description%></li>
    </ul>
      <div class ="col-lg-6 col-sm-6 google_maps">
        <iframe
          width="600"
          height="450"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCETOh7Po4OZrJn86i3bkINY1pOuDcOijM
            &q=<%=@mylisting.street_address %>,<%=@mylisting.town%>,<%=@mylisting.state%>" allowfullscreen>
        </iframe>
      </div>
    </div>

  <div class = "row">
    <div class = "col-lg-4">
      <% @mylisting.mylisting_photo.each do |photo| %>
        <li class = 'col-lg-5'><%= image_tag(photo.url, class: "listing_photos")%></li>
      <% end %>
    </div>
  </div>
      <% if current_user == @mylisting.user  || @mylisting.user.admin?%>
        <%= link_to "Edit Listing info here", edit_mylisting_path(@mylisting) %>
        <%= link_to "Delete Listing", mylisting_path(@mylisting), method: :delete,  data: { confirm: "Are you sure you want to delete this listing? (This can not be Undone)" } %>
      <% end %>
      <%else %>
      <p>Please Sign Up or Sign In to view the content.</p>

      <h2><%= link_to "Sign up", new_user_registration_path%></h2>
        <h2><%= link_to 'Sign In', new_user_session_path %></h2>
        <% end %>
