
<div class = "admin_page">
<h2> Admin Page </h2>
<ul>
  <div class = "container-fluid">
  <% @users.each do |user| %>
  <div class = "user">
    <li> Name: <%= user.first_name%> <%=user.last_name%> | Admin: <%= user.admin? %></li>
    <li>Email: <%= user.email %></li>
    <li> Phone Number: <%= user.phone_number%> </li>
       <%= link_to "Change Admin Status", {action: "make_admin", id: user.id }, method: :put %>
       <% if user != current_user %>

        <%= link_to "Delete this User", users_path, method: :delete, data: { confirm: "You sure?" } %>
        <% end %>
  <%end%>
</div>
</ul>
</div>
<div><%= link_to "Add a Personal Listing", new_mylisting_path %></div>
<div"><%= render "/zpids/zpidform"%></div>
</div>
