ADMIN PAGE
<ul>
  <% @users.each do |user| %>
    <li><%= user.first_name%> <%=user.last_name%> | Admin: <%= user.admin? %></li>
      <% if user != current_user %> <%= button_to "Change Admin Status", {action: "make_admin", id: user.id }, method: :put %>
        <%= link_to "delete", users_path, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
  <%end%>
</ul>
s
