


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
  </head>




  <body class="text-center">
    <div class="container">
      <h2 class="form-signin-heading">Please sign in</h2>
      <div class="col-md-4 col-md-offset-4">

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f| %>

    <div class="form-group">
        <%= f.label :email, class: "col-sm-4 control-label" %>
        <div class="col-sm-8">
          <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email Address' %>
        </div>
    </div>


    <div class="form-group">
        <%= f.label :password, class: "col-sm-4 control-label" %>
        <div class="col-sm-8">
          <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
        </div>
    </div>


        <div class="form-group">
            <div class="col-sm-8">
              <%= f.submit "Sign up", class: "btn btn-primary" %>
            </div>
        </div>


    <% end %>
  </div>
  </div>
  </body>
</html>
