<div class = "searches">
<h1 class= "advanced_title"> Advanced Search </h1>

<%= form_for @search do |f| %>
<ul class ="advanced_search_input">
  <li class = "adv_sea"> <%= f.label :house_style,"House Style:"%><%= f.select :house_style, ['CapeCod', 'Country French', 'Colonial', 'Victorian', 'Tudor', 'Craftsman', 'Cottage', 'Mediterranean', 'Ranch', 'Contemporary', 'Other']%></li>
    <li class = "adv_sea"><%= f.label :street_address,"Street Address:" %>  <%= f.text_field :street_address %></li>
    <li class = "adv_sea"><%= f.label :state, "State:" %>  <%= f.text_field :state, :value => "MA" %></li>
    <li class = "adv_sea"><%= f.label :town, "Town:" %> <%= f.text_field :town %></li>
    <li class = "adv_sea"><%= f.label :zipcode, "Zipcode:" %>  <%= f.text_field :zipcode %></li>
    <li class = "adv_sea"><%= f.label :number_of_bathrooms, "Number of Bathrooms:" %>  <%= f.select :number_of_bathrooms,(1..10).inject([0]) { |arr, val| arr << [val,val + 0.5] }.flatten  %></li>
    <li class = "adv_sea"><%= f.label :number_of_bedrooms, "Number of Bedrooms:" %> <%= f.select :number_of_bedrooms,(0..10).to_a  %></li>
  <li class = "adv_sea"><%= f.label :square_footage, "Square Footage:" %>  <%= f.text_field :square_footage %></li>
    <li class = "adv_sea"><%= f.label :min_price, "Price Range" %> $<%= f.text_field :min_price, size: 10 %>- $<%= f.text_field :max_price, size: 10 %></li>
    <li class = "adv_sea"> <%=f.submit "Search Listings" %> </li>
</ul>
  <% end %>
</div>
