<h1> Search Results </h1>

<%if @search.listings.empty? %>
  <h2> No Results </h2>
<% else %>
  <%@search.listings.each do |listing| %>
<ul class= "listing_info">
  <li>House Style: <%= listing.house_style  %></li>
  <li>Street Address: <%= listing.street_address%></li>
  <li>Town: <%= listing.town%> </li>
  <li>State: <%= listing.state%></li>
  <li>Zipcode: <%= listing.zipcode%></li>
  <% listing.listing_photo.each_with_index do |photo, index| %>
    <% if index == 0 %>
      <li><%= image_tag(photo.url, id: "main_listing_photo") %></li>
    <% end %>
    <% end %>
</ul>

<%= link_to 'More Information', listing %>
  <% end %>
<% end %>
