

<h1> Edit Page </h1>


<div class= "new_reviewform">
  <%= form_for @review do |f| %>
  <ul>
  <li><%= f.label :description, "Description: " %></li><li> <%= f.text_area(:description, cols: 100, rows: 10, class: 'myclass')%></li>
    <%= f.hidden_field :user_id, value: current_user.id %>
  <li><%= f.submit "Submit Changes", id: "submit" %></li>
  <ul>
  <% end %>
</div>
