
<%= link_to 'Write a Personal Review about Dave', new_review_path%>
<ul>
  <% @reviews.each do |review| %>
    <li><%= review.description %></li>
    <li><%= button_to '+1', upvote_review_path(review), method: :post %></li>
      <%if current_user == review.user || review.user.admin? %>
        <li><%= link_to "Delete Review", review_path(review), method: :delete,  data: { confirm: "Are you sure you want to delete this Review? (This can not be Undone)" } %></li>
        <li><%= link_to "Edit Review", edit_review_path(review) %></li>
      <% end %>
    <% end %>
</ul>
