<html>
  <head>
    <title>HathawayHomes</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

  </head>
  <body>
    <nav class="navbar navbar-inverse">
    <div class = "row">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to "HomePage", listings_path %></li>
          <li><%= link_to "Reviews", reviews_path %> </li>
          <li><%= link_to "My Personal Listings", mylistings_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <%if user_signed_in? && current_user.admin? %>
                  <li><%= link_to "Admin Page", users_path %></li>
                  <li><%= link_to "Add a Personal Listing", new_mylisting_path %></li>
                <%end%>
              </ul>
            </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Your Account <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'Sign In', new_user_session_path %></li>
                    <li><%= link_to 'Sign Up', new_user_registration_path %></li>
                    <li><%= link_to('Sign Out', destroy_user_session_path, :method => :delete) %></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Additional Resources<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'Zillow', "http://www.zillow.com/", :target => "_blank"%></li>
                    <li><%= link_to 'Realtor.com', "https://www.realtor.com/", :target => "_blank"%></li>
                    <li><%= link_to "Multiple Listing Service", "http://www.mls.com/", :target => "_blank"%></li>
                    <li><%= link_to 'Trulia', "https://www.trulia.com/", :target => "_blank"%></li>
                    <li><%= link_to 'Redfin', "https://www.redfin.com/", :target => "_blank"%></li>
                    </ul>

                  </ul>
          </div>
      </div>
  </nav>




  <% if flash.any? %>
    <div class="flash">
      <div class="container-fluid">
        <%= flash[:alert] %>
  <% end %>
  <%= yield %>
    <footer class="footer font-small special-color-dark pt-4">
      <div class="container-fluid">
        <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <%=image_tag("one_worcester_homes.jpg", alt: "Example Image", id: 'one_homes', class: "img-fluid")%>
          </li>
          <li class="list-inline-item">
            <a href="https://www.facebook.com/david.hathaway.944">  <%=image_tag("facebook.png", alt: "Example Image", id: 'social_media', class: "img-fluid")%></a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/david-hathaway-23649084/">  <%=image_tag("linkedin.png", alt: "Example Image", id: 'social_media', class: "img-fluid")%></a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-dribbble mx-1">
              <i class="fa fa-dribbble"> </i>
            </a>
          </li>
        </ul>
        </div>
      </div>
    </body>
</html>
